#tabuleiroHtml{
    width: 300px;
}
.box{
    width: 30px;
    height: 30px;
    float: left;
    font-size: 18px;
    text-align: center;

}
.claro{
    background-color: #0ac876;
}
.escuro{
    background-color: #13a14d;
}
.escuro:hover,.claro:hover {
    opacity: 0.6;
}
.nova{
    background-color: red !important;
}